.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
#content{
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding: var( — space) var( — space) 0;
  width: 100%;
}
#content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
}

#calc-name{
  font-family: Casio;
  font-size: 1.5em;
  color: white;
  display: flex;
  width: 85%;
}
#calc-body{
  /* background-color: #39393b; */
  border-radius: 5px;
  height: 550px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* justify-content: center; */
  margin-top: 30px;
  background: #aa4b6b;
  background: -webkit-linear-gradient(to right, #3a393e, #1d1c22);
  background: linear-gradient(to right, #3a393e, #1d1c22);
}
#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
}
#footer-text{
  font-family: Casio;
  /* opacity: 0.75; */
  margin-right: 5px;
}
@media only screen and (max-width: 480px){
  #calc-body{
  width: 100%;
  margin-top: 0;
  }
}

