.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
#content{
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding: var( — space) var( — space) 0;
  width: 100%;
}
#content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
}

#calc-name{
  font-family: Casio;
  font-size: 1.5em;
  color: white;
  text-align: left;
  padding: 30px 0 0 40px;
  width: 100%;
}
#calc-body{
  background-color: #39393b;
  border-radius: 5px;
  height: 540px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
#button-grid{
  margin-top: 20px;
}
#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
}
#footer-text{
  font-family: Casio;
  /* opacity: 0.75; */
  margin-right: 5px;
}