#button-grid{
  display:flex;
  justify-content: space-around;
  width: 90%;
  height: 55%;
}
.button-columns{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.calc-btn{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: white;
  width: 100%;
  height: 55px;
  background: #58595b;
  border-radius: 5px;
  border: none;
  padding:0;
  cursor: pointer;
}
.calc-btn:focus{
  outline:0;
}
.calc-btn:active{
  opacity: 0.75;
}